body {
    margin: 5% 10%;
    background-color: #f2b852;
    }
h1, h2, h3 {
    color: #ffff66;
    border: solid #ffff66 1px;
}
#taulausuaris{
    margin:10px auto;
    border:solid 1px black;
    width:90%;
    background-color:#CCC;
}
#taulausuaris tr td{
    border:solid 1px black;
    padding: 5px;
    background-color:#FFF;
    text-align:center;
}

.imatge{
    width: 200px;
    margin: 10px;
    vertical-align: middle;
}

.tornar{
    width: 50px;
    margin: 10px;
    vertical-align: middle;
}
.editar{
    width: 30px;
    margin: 10px;
    vertical-align: middle;
}

.error{
    width:400px;
}

ul li{
    font-family: arial;
    line-height: 30px;

}