{% extends 'base.html.twig' %}
{% block title %}Usuari{% endblock %}
{% block body %}
<h1>Editar usuari</h1>
{{ form_start(formulari, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(formulari) }}
{{ form_end(formulari) }}
{% endblock %}