{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Inserir nou llibre</h1>
{{ form_start(formulari, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(formulari) }}
{{ form_end(formulari) }}
{% endblock %}