{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    Llibres: Accés Denegat
{% endblock %}
{% block body %}
    <h1>No tens permís per accedir</h1>
    <h2>Error 403</h2>
    <p>        
        <img src="{{ asset('img/forbidden.jpg') }}" alt="no trobat" class="error" />
    </p>
{% endblock %}